.ArticleViewSelector {
    .notSelected {
        color: var(--secondary-color);
    }
}

.ArticleViewSelectorRedesigned {
    .icon {
        color: var(--light-bg-redesigned);
    }

    .selected {
        color: var(--icon-redesigned);
    }
}
