.ArticleList {
    flex-grow: 1;
    padding: 20px 20px 20px 45px;
}

.BIG {
    .card {
        margin: 30px 30px 0;
    }
}

.SMALL {
    .card {
        margin: 30px;
    }
}

.itemsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    margin: 0 30px;
}

.skeleton {
    margin-bottom: 30px;
}

.ItemContainer {
    width: 230px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    margin-right: 30px;

    @media (max-width: 1024px) {
        width: 50%;
    }

    @media (max-width: 300px) {
        width: 100%;
    }
}
