.popup {
    position: relative;
}

.menu {
    border-radius: 18px;
    border: 1px solid var(--accent-redesigned);
    overflow: hidden;
}

.trigger {
    background: none;
    outline-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.topRight {
    bottom: 100%;
    left: 0;
}

.topLeft {
    bottom: 100%;
    right: 0;
}

.bottomRight {
    top: 100%;
    left: 0;
}

.bottomLeft {
    top: 100%;
    right: 0;
}

.active {
    background: var(--light-bg-redesigned);
}

.disabled {
    opacity: 0.5;
}

