.app_lake_theme {
    --bg-color: #204051;
    --inverted-bg-color: #3b6978;
    --primary-color: #4e8098;
    --secondary-color: #72a1ae;
    --inverted-primary-color: #e8e8ea;
    --inverted-secondary-color: #dfe7ee;

    // redesigned
    --dark-bg-redesigned: #132029;
    --bg-redesigned: #1e3d47;
    --light-bg-redesigned: #285b66;
    --text-redesigned: #e4eaed;
    --hint-redesigned: #b7c3c9;
    --cancel-redesigned: #d95959;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #72a1ae;
    --accent-redesigned: #e4eaed;

    // skeleton
    --skeleton-color: #6b888d;
    --skeleton-shadow: #132029;

    // code
    --code-bg: #285b66;

    // card
    --card-bg: #204051;

    // listbox
    --listbox-bg: #3b6978;
}
