.app_tan_theme {
  --bg-color: #FBF7F4;
  --inverted-bg-color: #483c32;
  --primary-color: #302321;
  --secondary-color: #FBF7F4;
  --inverted-primary-color: #FBF7F4;
  --inverted-secondary-color: #302321;
}
