.app_tan_theme {
    --bg-color: #fbf7f4;
    --inverted-bg-color: #483c32;
    --primary-color: #302321;
    --secondary-color: #1f1c16;
    --inverted-primary-color: #fbf7f4;
    --inverted-secondary-color: #302321;

    // skeleton
    --skeleton-color: #fbf7f4;
    --skeleton-shadow: #7c6959;

    // code
    --code-bg: #806c5d;

    // card
    --card-bg: #bebebe;
}
