.app_tan_theme {
    --bg-color: #fbf7f4;
    --inverted-bg-color: #483c32;
    --primary-color: #302321;
    --secondary-color: #1f1c16;
    --inverted-primary-color: #fbf7f4;
    --inverted-secondary-color: #302321;

    // redesigned
    --dark-bg-redesigned: #F4EFE7;
    --bg-redesigned: #FAF7F2;
    --light-bg-redesigned: #FFFBF7;
    --text-redesigned: #3D3A37;
    --hint-redesigned: #928C86;
    --cancel-redesigned: #FF7575;
    --save-redesigned: #75DE9B;
    --icon-redesigned: #6ED3C1;
    --accent-redesigned: #00C8B3;

    // skeleton
    --skeleton-color: #fbf7f4;
    --skeleton-shadow: #7c6959;

    // code
    --code-bg: #806c5d;

    // card
    --card-bg: #bebebe;

    // listbox
    --listbox-bg: #bebebe;
}
