.Icon {
    color: var(--icon-redesigned);
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.button:hover,
.button:hover .Icon {
    color: var(--accent-redesigned);
}

.filled {
    background-color: var(--light-bg-redesigned);
}
