.MainLayout {
  min-height: 100vh; // or 100% for ios devices
  display: grid;
  grid-template-areas:
  'sidebar content rightbar';
  // todo: проверить с заменой 100px на 176px в конце редизайна
  grid-template-columns: min-content 1fr 100px;
}

.sidebar {
  grid-area: sidebar;
  // центруем сайдбар внутри паддингов
  padding: 32px;
  max-width: 284px;
}

.content {
  grid-area: content;
  max-width: 1176px;
  // контент так же центруем
  justify-self: center;
  width: 100%;
}

.rightbar {
  grid-area: rightbar;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rightbar,
.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
}

.header {
  justify-self: end;
}

.toolbar {
  justify-self: end;
  height: 100%;
}
