.Button {
    cursor: pointer;
    color: var(--text-redesigned);
    padding: 8px 16px;
    display: flex;
    align-items: center;

    &:not(:disabled):hover {
        color: var(--accent-redesigned);

        .addonLeft svg, .addonRight svg {
            color: var(--accent-redesigned)
        }
    }
}

.withAddon {
    padding: 0 16px;
}

.addonLeft, .addonRight {
    display: flex;
}

.addonLeft svg, .addonRight svg {
    color: var(--hint-redesigned)
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.filled {
    background: var(--light-bg-redesigned);
    border: none;
    outline: none;
    border-radius: 34px;

    &.normal {
        &:hover {
            color: var(--text-redesigned);
            opacity: 0.75;
        }
    }

    &.error {
        background: var(--cancel-redesigned);

        &:hover {
            color: var(--text-redesigned);
            opacity: 0.75;
        }
    }

    &.success {
        background: var(--save-redesigned);

        &:hover {
            color: var(--text-redesigned);
            opacity: 0.75;
        }
    }
}

.outline {
    background: none;
    border: 2px solid var(--icon-redesigned);
    border-radius: 34px;

    &:hover {
        border: 2px solid var(--accent-redesigned);
    }

    &.normal {
        border: 2px solid var(--icon-redesigned);

        &:hover {
            border: 2px solid var(--accent-redesigned);
        }
    }

    &.error {
        border: 2px solid var(--cancel-redesigned);

        &:hover {
            color: var(--cancel-redesigned);
            opacity: 0.75;
        }
    }

    &.success {
        border: 2px solid var(--save-redesigned);

        &:hover {
            color: var(--save-redesigned);
            opacity: 0.75;
        }
    }
}

.square {
    padding: 0;
}

.square.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font: var(--font-m-redesigned);
}

.square.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font: var(--font-l-redesigned);
}

.square.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font: var(--font-xl-redesigned);
}

.m {
    font: var(--font-m-redesigned);
}

.l {
    font: var(--font-l-redesigned);
}

.xl {
    font: var(--font-xl-redesigned);
}

.disabled {
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}
