.Card {
    padding: 24px;
    overflow: hidden;
}

.withoutPaddings {
    padding: 0;
}

.normal {
    background: var(--dark-bg-redesigned);
}

.light {
    background: var(--light-bg-redesigned);
}

.outlined {
    border: 1px solid var(--accent-redesigned);
}

.max {
    width: 100%;
}

.p0 {
    padding: 0;
}

.p8 {
    padding: 8px;
}

.p16 {
    padding: 16px;
}

.p32 {
    padding: 32px;
}

.border_normal {
    border-radius: 12px;
}

.border_round {
    border-radius: 40px;
}
