.Dropdown {
    position: relative;
}

.btn {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.menu {
    background: var(--card-bg);
    position: absolute;
    z-index: 1000;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    flex-direction: column;
    display: flex;

    &.topRight {
        bottom: 100%;
        left: 0;
    }

    &.topLeft {
        bottom: 100%;
        right: 0;
    }

    &.bottomRight {
        top: 100%;
        left: 0;
    }

    &.bottomLeft {
        top: 100%;
        right: 0;
    }
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
}

.active {
    background: var(--inverted-primary-color);
}
