.InputWrapper {
    display: flex;
    align-items: center;
    border-radius: 48px;
    padding: 8px 16px;
    border: 2px solid var(--icon-redesigned);
    height: 32px;
    width: 100%;
}

.withAddonLeft {
    padding-left: 8px;
}

.withAddonRight {
    padding-right: 8px;
}

.s {
    height: 32px;
}

.m {
    height: 38px;
}

.l {
    height: 44px;
}

.addonLeft, .addonRight {
    display: flex;
}

.focused {
    border: 2px solid var(--accent-redesigned);

    // иконка подсвечивается при фокусе инпута
    .addonLeft svg, .addonRight svg {
        color: var(--accent-redesigned)
    }
}

.input {
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-redesigned);
    background: none;

    &::placeholder {
        color: var(--hint-redesigned)
    }

    &:focus {
        outline: none;
    }
}

.readonly {
    opacity: 0.75;
}

.outlined {
    padding: 8px 16px;
}
