.textarea {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: var(--primary-color);
    font: var(--font-m);
    padding: 8px;
    height: 88px;

    &:focus {
        outline: none;
    }
}

.readonly {
    opacity: 0.75;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.01;
    }

    100% {
        opacity: 1;
    }
}

.max {
    width: 100%;
}

.outlined {
    border: 1px solid black;
}
