.StickyContentLayout {
	display: grid;
	gap: 16px;
	grid-template-areas:
			'left content right';
	grid-template-columns: min-content 1fr min-content;
}

.left {
	grid-area: left;
}

.content {
	grid-area: content;
	max-width: 1176px;
	justify-self: center;
	gap: 16px;
	width: 100%;
}

.right {
	grid-area: right;
	z-index: var(--sticky-content-right-z-index);
}

.left,
.right {
	position: sticky;
	top: 32px;
	height: fit-content;
}
